<html>
<head>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <title>welcome to wiki</title>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
    {% if not username %}
      <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
      <li><a href="#" data-toggle="modal" data-target="#signup-modal">Signup</a></li>
    {% else %}
        <li><a href="/_edit/">Edit Page </a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">hello {{ username }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/settings">settings</a></li>          
            <li><a href="/logout">logout</a></li>
          </ul>
        </li>
      </ul>
    {% endif %}
  </div>
</nav>
<div class="container">
<section class="content">
  <div class="row">
    <h1>Wiki   <small>Python powered</small></h1>
  </div>
  {% block content %}
  {% endblock %}
</section>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  

{% block scripts %}
{% endblock %}

</html>