<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>wiki post</title>
</head>
<body>
<a href="/_edit/{{subject}}" style=" color:green; text-decoration:none">edit</a>
<div class="title">
    <h1>Wiki Pages</h1>
    <br>
    <div class="subject">
        {{subject}}  | | <a href="/_history/{{subject}}" >history </a>
    <br>
        <div class="content">
            {{content}}
        </div>
    </div>
</div>
</body>
</html>