{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-body">
            {{ content | safe }}
          </div>
        </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">Pages</div>
        <div class="panel-body">
          <table class="table table-striped">
            {% for i in page %}
            <tr>
              <td><a href="/{{i.subject}}" style="text-decoration:none; color: black;">{{i.subject}}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div> 

  <div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" style="text-align:center;">
            Login
           </h3>
        </div>
        <div class="modal-body">
          <form id="login-form" method="post" action="/login">
            <div class="form-group">
              <label>Username</label>
              <input name="username" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="signup-modal" class="modal fade">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" style="text-align:center;">
            Sign Up
           </h3>
        </div>
        <div class="modal-body">
          <form id="signup-form" method="post" action="/login">
            <div class="form-group">
              <label>Username</label>
              <input name="uname" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input name="pword" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label>Repeat Password</label>
              <input name="repeat" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label>email</label>
              <input name="email" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("#login-form").submit(function(ev) {
    var url = "/login"
    var formData = {
      'username'        : $('input[name=username]').val(),
      'password'      : $('input[name=password]').val(),
    };
    $.ajax({
           type: "POST",
           url: url,
           data: JSON.stringify(formData),
           success: function(data)
           {
             console.log(data)
             if (data){
                window.location.reload();
             }
             else {
                alert('invalid credentials')
             }
           }
         });
         ev.preventDefault();
});

    $("#signup-form").submit(function(ev) {
    var url = "/signup"
    var username = $('input[name=uname]').val()
    var password = $('input[name=pword]').val()
    var repeat = $('input[name=repeat]').val()
    var email = $('input[name=email]').val()
    var pat1 = /[a-zA-Z0-9]+/
    var pat2 = /[a-zA-Z0-9]..+/
    var pat3 = /^[\S]+@[\S]+\.[\S]+$/

    if (!pat1.test(username)){
        document.getElementById('error1').style.display=block;
    }
    var formData = {
      'username' : username,
      'password' : password,
      'repeat' : repeat,
      'email' : email,
    };
    $.ajax({
           type: "POST",
           url: url,
           data: JSON.stringify(formData),
           success: function(data)
           {
             console.log(data)
             if (data){
                window.location.reload();
             }
             else {
                alert('invalid credentials')
             }
           }
         });
         ev.preventDefault();
});

</script>
{% endblock %}